{% macro widget_main_nav(active) %}
    <nav class="nav nav-main">
        <div class="container">
            <div id="logo" class="nav-left">
                <a class="nav-item" href="/" title="На главную">
                  <h1>{{ config.values.PROJECT.name }}</h1>
                </a>
            </div>

            <span id="nav-toggle" class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div id="nav-menu" class="nav-right nav-menu">
                {% for item in bag("main-nav")["items"] %}
                    <a class="nav-item{% if item.url == "/" + active %} is-active{% endif %}" href="{{ item.url|url }}" title="{{ item.title|typography }}">
                        {{ item.title|typography }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>
{% endmacro %}


{% macro widget_hero_block(active_link, active_class, title, subtitle) %}
    <section class="hero is-{{ active_class }}">
        <div class="hero-head">
            {{ widget_main_nav(active_link) }}
        </div>

        <div class="hero-body">
            <div class="container">
                {% if title %}
                    <h1 class="title">{{ title|typography }}</h1>
                {% endif %}
                {% if title %}
                    <h2 class="subtitle">{{ subtitle|typography }}</h2>
                {% endif %}
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs section-tabs">
                <div class="container">
                    <ul>
                        {{ caller() }}
                    </ul>
                </div>
            </nav>
        </div>
    </section>
{% endmacro %}


{% macro format_date(date) %}
    {{ date|datetimeformat("d MMMM YYYY, HH:mm") }}
{% endmacro %}


{% macro format_opg_page(title, description="", video="") %}
    {{ format_ogp_tag("url", "."|url(external=True)) }}
    {{ format_ogp_tag("type", "website") }}
    {{ format_ogp_tag("site_name", config.values.PROJECT.name) }}
    {{ format_ogp_tag("locale", "ru_RU") }}
    {{ format_ogp_tag("image", "/static/images/logo.png"|url(external=True)) }}
    {{ format_ogp_tag("image:type", "image/png") }}

    {% if title %}
        {{ format_ogp_tag("title", title) }}
    {% endif %}

    {% if description %}
        {{ format_ogp_tag("description", description) }}
    {% endif %}

    {% if video %}
        {{ format_ogp_tag("video", video.url|youtube_code) }}
    {% endif %}
{% endmacro %}


{% macro format_ogp_tag(type, value) %}
    <meta {{ {"property": "og:%s"|format(type), "content": value}|xmlattr }}>
{% endmacro %}


{% macro add_to_google_calendar(element) %}
    {% if not element.finished %}
        <span class="add-to-calendar-widget">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <a href="{{ element|generate_google_calendar_link }}">Добавить в Google Calendar</a>
        </span>
    {% endif %}
{% endmacro %}
