{% import "macros/common.html" as macros_common %}
{% import "macros/speaker.html" as macros_speaker %}


{% macro number(num) %}
    {{ "#" ~ num }}
{% endmacro %}


{% macro meetup_name(num) %}
    {{ config.values.PROJECT.name }} {{ number(num) }}
{% endmacro %}


{% macro widget_map_subheader(meetup) %}
    {% if meetup.date %}
        {{ macros_common.format_date(meetup.date) }}
    {% endif %}

    {% if meetup.place %}
        {% if meetup.date %}
            @ {{ place_url(meetup) }}
        {% else %}
            Будет проходить в {{ place_url(meetup) }}
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro widget_talks(meetup, expand) %}
    {{
        widget_talks_section(
            "Доклады",
            meetup.children.filter(F.talk_type == "main").all(),
            expand
        )
    }}
    {{
        widget_talks_section(
            "Lightning talks",
            meetup.children.filter(F.talk_type == "lightning").all(),
            expand
        )
    }}
{% endmacro %}


{% macro widget_talks_section(name, talks, expand) %}
    {% if talks %}
        <h3>{{ name }}</h3>
        {% for talk in talks %}
            <div class="columns">
                {{ widget_talk(talk, expand) }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}


{% macro widget_talk(talk, expand) %}
    <div class="column is-one-quarter">
        {{ talk.date|datetimeformat("HH:mm") }}
    </div>

    <div class="column">
        {% if expand %}
            <h4><a href="{{ talk|url }}">{{ talk.title }}</a></h4>
        {% else%}
            <h4>{{ talk.title }}</h4>
        {% endif%}
        <h5>
            {{ macros_speaker.speaker_name(talk.speaker) }}
            {{ company_name(talk) }}
        </h5>

        {% if expand %}
            {{ widget_slides(talk) }}
        {% endif%}

        {{ talk.description }}

        {% if expand and talk.video %}
            {{ talk.video.url|oembed(urlize_all=False, maxwidth=640) }}
        {% endif %}
    </div>
{% endmacro %}


{% macro widget_registration(meetup) %}
    {% if meetup.registration_url and meetup.registration_url.url and not meetup.finished %}
        <p class="meetup-registration-link">
            Форма регистрации:
            <a href="{{ meetup.registration_url.url }}">{{ meetup.registration_url.url }}</a>
        </p>
    {% endif %}
{% endmacro %}


{% macro widget_slides(talk, slides_class="is-small") %}
    {% if talk.slides and talk.slides.url %}
        <p class="{{ slides_class }}">Слайды: <a href="{{ talk.slides.url }}">{{ talk.slides.url }}</a></p>
    {% endif %}
{% endmacro %}


{% macro place_url(meetup) %}
    {% if meetup.map_url %}
        <a href="{{ meetup.map_url }}">{{ meetup.place }}</a>
    {% else %}
        {{ meetup.place }}
    {% endif %}
{% endmacro %}


{% macro company_name(talk) %}
    {% if talk.company %}
        ({{ talk.company }})
    {% endif %}
{% endmacro %}
