{# vim: ft=jinja2:
#}


{% import "macros/common.html" as macros_common %}


{% macro widget_news(news, full=True) %}
    <section class="section">
        <div class="container">
            {{ render_news(news, full) }}
        </div>
    </section>
{% endmacro %}


{% macro render_news(news, full=True) %}
    <div class="content">
        {{ render_title(news) }}
        {{ render_subtitle(news) }}
        {{ render_content(news, full) }}
    </div>
{% endmacro %}


{% macro render_title(news) %}
    <h1 class="title"><a href="{{ news|url }}">{{ news.title|typography }}</a></h1>
{% endmacro %}


{% macro render_subtitle(news) %}
    <h2 class="subtitle">{{ macros_common.format_date(news.date) }}</h2>
{% endmacro %}


{% macro render_content(news, full) %}
    {% if full %}
        {{ news.text|typography }}
    {% else %}
        {{ news.text.html|postcut(news|url)|typography }}
    {% endif %}
{% endmacro %}
