{# vim: ft=jinja2:
#}


{% macro speaker_name(speaker_id) %}
    {%
        set model = site.query("/speakers")
            .filter(F._model == "speaker").get(speaker_id)
    %}

    {{ model.first_name }} {{ model.last_name }}
{% endmacro %}


{% macro render_talk_list(speaker) %}
    {% set meetups = site.query("/meetups") %}

    {% for meetup in meetups %}
        {{ render_talk_for_meetup(meetup, speaker) }}
    {% endfor %}
{% endmacro %}


{% macro render_talk_for_meetup(meetup, speaker) %}
    {%
        set talks = meetup.children.filter(F.speaker == speaker._id).all()
    %}

    {% if talks %}
        <ul>
            {% for talk in talks %}
                <li>
                    {% if loop.first %}
                        <span class="meetup-name">
                            <a href="{{ meetup|url }}">
                                {{ config.values.PROJECT.name }} #{{ meetup.number }}
                            </a>
                        </span>
                    {% endif %}
                    <a href="{{ talk|url }}">{{ talk.title|typography }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
