{# vim: ft=jinja2:
#}


{% extends "layout.html" %}


{% import "macros/common.html" as macros_common %}


{% block title %}
    404 ← {{ super() }}
{% endblock %}


{% block content %}
    {% call macros_common.widget_hero_block("404", "404", "404", "Not Found") %}
    {% endcall %}

    <section class="section">
        <div class="container">
            <div class="content">
                <p>К сожалению, этой страницы тут нет. Попробуйте поискать в <a href="{{ "/meetups"|url }}">митапах</a>, <a href="{{ "/speakers"|url }}">людях</a>, <a href="{{ "/news"|url }}">новостях</a>. А если и там ничего, то всегда можно написать <a href="{{ (bag("main-footer")["items"]|first).href }}">письмо</a> и злобно поинтересоваться, где всё.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
