{% extends "layout.html" %}


{% import "macros/common.html" as macros_common %}


{% block title %}
    Информация ← {{ super() }}
{% endblock %}


{% macro render_section(classname, content)%}
    <section id="section-tabs-{{ classname }}" class="section">
        <div class="container">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </section>
{% endmacro %}


{% block content %}
    {% call macros_common.widget_hero_block("information", "information", "Информация", "Разные полезные буквы для участников, посетителей и HR'ов") %}
        <li class="is-active"><a section="about">О митапе</a></li>
        <li><a section="rules">Правила</a></li>
        <li><a section="contact">Контакты</a></li>
    {% endcall %}

    {{ render_section("about", this.about) }}
    {{ render_section("rules", this.rules) }}
    {{ render_section("contact", this.contact) }}
{% endblock %}
