{# vim: ft=jinja2:
#}


{% extends "meetup-list.html" %}


{% import "macros/common.html" as macros_common %}
{% import "macros/meetup.html" as macros_meetup %}


{% macro place(meetup) %}
    {% if this.map_url %}
        <h2>Место проведения на карте</h2>
        {{ this.map_url.url|yandexmaps }}
    {% endif %}
{% endmacro %}


{% block title %}
    {{ macros_meetup.number(this.number) }} ← {{ super() }}
{% endblock %}


{% block opengraph %}
    {{
        macros_common.format_opg_page(
            "rannts #" ~ this.number,
            this.description|striptags|trim|truncate(140),
        )
    }}
{% endblock %}


{% block content %}
    {% call macros_common.widget_hero_block(
            "meetups", "meetup", macros_meetup.number(this.number),
            macros_meetup.widget_map_subheader(this)) %}
    {% endcall %}

    <section class="section">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_registration(this) }}

                {% if this.description %}
                    {{ this.description }}
                {% else %}
                    <p>К сожалению, подробностей про митап пока что нет.</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
              {{ place(this) }}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_talks(this, True) }}
            </div>
        </div>
    </section>
{% endblock %}
