{# vim: ft=jinja2:
#}


{% extends "meetup-list.html" %}


{% import "macros/common.html" as macros_common %}
{% import "macros/meetup.html" as macros_meetup %}


{% macro place(meetup) %}
    <p>
        {% if this.place %}
            Место проведения: {{ macros_meetup.place_url(this) }}
        {% else %}
            Место проведения пока что не определено.
        {% endif %}
    </p>

    {% if this.map_url %}
        {{ this.map_url.url|yandexmaps }}
    {% endif %}
{% endmacro %}


{% block title %}
    {{ macros_meetup.number(this.number) }} ← {{ super() }}
{% endblock %}


{% block opengraph %}
    {{
        macros_common.format_opg_page(
            "rannts #" ~ this.number,
            this.description|striptags|trim|truncate(140),
        )
    }}
{% endblock %}


{% block content %}
    {% call macros_common.widget_hero_block(
            "meetups", "meetup", macros_meetup.number(this.number),
            macros_meetup.widget_map_subheader(this)) %}
        <li class="is-active"><a section="about">О митапе</a></li>
        <li><a section="talks">Доклады</a></li>
        <li><a section="place">Место проведения</a></li>
    {% endcall %}

    <section id="section-tabs-about" class="section section-item">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_registration(this) }}

                {% if this.description %}
                    {{ this.description }}
                {% else %}
                    <p>К сожалению, подробностей про митап пока что нет.</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="section-tabs-talks" class="section section-item">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_talks(this, True) }}
            </div>
        </div>
    </section>

    <section id="section-tabs-place" class="section section-item">
        <div class="container">
            <div class="content">
              {{ place(this) }}
            </div>
        </div>
    </section>
{% endblock %}
