{% extends "layout.html" %}


{% import "macros/common.html" as macros_common %}
{% import "macros/pagination.html" as macros_pagination %}
{% import "macros/meetup.html" as macros_meetup %}


{% block title %}
    Митапы ← {{ super() }}
{% endblock %}


{% block opengraph %}
    {{ macros_common.format_opg_page("Митапы", "Хахатоны и бухкэмпы") }}
{% endblock %}


{% block content %}
    {% call macros_common.widget_hero_block("meetups", "meetup", "Митапы", "Хахатоны и бухкэмпы") %}
    {% endcall %}

    {% for post in this.pagination.items %}
        <section class="section">
            <div class="container">
                <div class="content">
                    <h1 class="title"><a href="{{ post|url }}">#{{ post.number }}</a></h1>
                    <h2 class="subtitle">{{ macros_meetup.widget_map_subheader(post) }}</h2>

                    {{ macros_meetup.widget_registration(post) }}
                    {{ post.description|typography }}
                    {{ macros_meetup.widget_talks(post, False) }}
                </div>
            </div>
        </section>
    {% endfor %}

    {{ macros_pagination.widget_pagination(this.pagination) }}
{% endblock %}
