{# vim: ft=jinja2:
#}


{% extends "layout.html" %}


{% import "macros/common.html" as macros_common %}
{% import "macros/pagination.html" as macros_pagination %}
{% import "macros/news.html" as macros_news %}


{% block title %}
    Новости ← {{ super() }}
{% endblock %}


{% block opengraph %}
    {{ macros_common.format_opg_page("Новости", "Для тех, кто любит читать новости") }}
{% endblock %}


{% block content %}
    {% call macros_common.widget_hero_block("news", "news", "Новости", "Для тех, кто любит читать новости") %}
    {% endcall %}

    {% for post in this.pagination.items %}
        {{ macros_news.widget_news(post, False) }}
    {% endfor %}

    {{ macros_pagination.widget_pagination(this.pagination) }}
{% endblock %}
