{% extends "layout.html" %}


{% import "macros/common.html" as macros_common %}
{% import "macros/meetup.html" as macros_meetup %}
{% import "macros/speaker.html" as macros_speaker %}


{% macro talk_title(talk) %}
    {{ macros_speaker.speaker_name(this.speaker) }} — {{ this.title }}
{% endmacro %}


{% macro subtitle(talk) %}
     {{ macros_speaker.speaker_name(this.speaker) }} @
     <a href="{{ talk.parent.url_path|url }}">
         {{ config.values.PROJECT.name }}
         {{ macros_meetup.number(this.parent.number) }}
    </a>
{% endmacro %}


{% block title %}
    {{ talk_title(this) }} ← {{ macros_meetup.number(this.parent.number) }} ← Митапы ← {{ super() }}
{% endblock %}


{% block opengraph %}
    {{
        macros_common.format_opg_page(
            this.title,
            this.description|typography|striptags|trim|truncate(140),
            this.video
        )
    }}
{% endblock %}


{% block content %}
    {% call macros_common.widget_hero_block("meetups", "meetup", this.title, subtitle(this)) %}
    {% endcall %}

    <section class="section">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_slides(this, "meetup-slides") }}

                {% if this.description %}
                    {{ this.description|typography }}
                {% elif not (this.video or (this.slides and this.slides.url)) %}
                    <p>К сожалению, подробностей про выступление пока что нет.</p>
                {% endif %}

                {% if this.video %}
                    <div class="video-responsive-wrapper">
                        {{ this.video.url|oembed(urlize_all=False, maxwidth=960) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
