{% macro main_nav(active) %}
<nav class="nav nav-main">
    <div class="container">
        <div id="logo" class="nav-left">
            <a class="nav-item" href="/" title="На главную">
              <h1>{{ config.values.PROJECT.name }}</h1>
            </a>
        </div>

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <div class="nav-right nav-mobile">
            {% for item in bag("main-nav")["items"] %}
                <a class="nav-item{% if item.url == "/" + active %} is-active{% endif %}" href="{{ item.url|url }}" title="{{ item.title }}">
                    {{ item.title }}
                </a>
            {% endfor %}
        </div>
    </div>
</nav>
{% endmacro %}


{% macro hero_block(active_link, active_class, title, subtitle) %}
<section class="hero is-{{ active_class }}">
    <div class="hero-head">
        {{ main_nav(active_link) }}
    </div>

    <div class="hero-body">
        <div class="container">
            {% if title %}
                <h1 class="title">{{ title }}</h1>
            {% endif %}
            {% if title %}
                <h2 class="subtitle">{{ subtitle }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs section-tabs">
            <div class="container">
                <ul>
                    {{ caller() }}
                </ul>
            </div>
        </nav>
    </div>

</section>

{% endmacro %}


{% macro meetup_subheader(meetup) %}
    {% if meetup.date %}
        {{ meetup.date|datetimeformat("d MMMM YYYY, HH:mm") }}
        {% if meetup.place %}
            @ <a href="{{ meetup.map_url }}">{{ meetup.place }}</a>
        {% endif %}
    {% else %}
        Будет проходить в <a href="{{ meetup.map_url }}">{{ meetup.place }}</a>
    {% endif %}
{% endmacro %}


{% macro meetup_talks(meetup, expand) %}
    {% set lightning_talks = meetup.children.filter(F.talk_type == "lightning").all() %}
    {% set main_talks = meetup.children.filter(F.talk_type == "main").all() %}

    {% if main_talks %}
        <h3>Доклады</h3>
        {% for talk in main_talks %}
            <div class="columns">
                {{ meetup_talk(talk, expand) }}
            </div>
        {% endfor %}
    {% endif %}

    {% if lightning_talks %}
        <h3>Lightning Talks</h3>
        {% for talk in lightning_talks %}
            <div class="columns">
                {{ meetup_talk(talk, expand) }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}


{% macro meetup_talk(talk, expand) %}
<div class="column is-one-quarter">
    {{ talk.date|datetimeformat("HH:mm") }}
</div>

<div class="column">
    {% if expand %}
        <h4><a href="{{ talk|url }}">{{ talk.title }}</a></h4>
    {% else%}
        <h4>{{ talk.title }}</h4>
    {% endif%}
    <h5>{{ talk.speaker }} ({{ talk.company }})</h5>

    {% if expand and talk.slides %}
        <p class="is-small">Слайды: <a href="{{ talk.slides }}">{{ talk.slides }}</a></p>
    {% endif%}

    {{ talk.description }}

    {% if expand and talk.video %}
        {{ talk.video.url|oembed(urlize_all=False, maxwidth=640) }}
    {% endif %}
</div>
{% endmacro %}
