{% macro main_nav(active) %}
<nav class="nav nav-main">
    <div class="container">
        <div id="logo" class="nav-left">
            <a class="nav-item" href="/" title="На главную">
              <h1>{{ config.values.PROJECT.name }}</h1>
            </a>
        </div>

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <div class="nav-right nav-mobile">
            {% for item in bag("main-nav")["items"] %}
                <a class="nav-item{% if item.url == "/" + active %} is-active{% endif %}" href="{{ item.url|url }}" title="{{ item.title }}">
                    {{ item.title }}
                </a>
            {% endfor %}
        </div>
    </div>
</nav>
{% endmacro %}


{% macro hero_block(active_link, active_class, title, subtitle) %}
<section class="hero is-{{ active_class }}">
    <div class="hero-head">
        {{ main_nav(active_link) }}
    </div>

    <div class="hero-body">
        <div class="container">
            {% if title %}
                <h1 class="title">{{ title }}</h1>
            {% endif %}
            {% if title %}
                <h2 class="subtitle">{{ subtitle }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs section-tabs">
            <div class="container">
                <ul>
                    {{ caller() }}
                </ul>
            </div>
        </nav>
    </div>

</section>

{% endmacro %}


{% macro meetup_subheader(meetup) %}
    {% if meetup.date %}
        {{ meetup.date|datetimeformat("d MMMM YYYY, HH:mm") }}
        {% if meetup.place %}
            @ <a href="{{ meetup.map_url }}">{{ meetup.place }}</a>
        {% endif %}
    {% else %}
        Будет проходить в <a href="{{ meetup.map_url }}">{{ meetup.place }}</a>
    {% endif %}
{% endmacro %}


{% macro meetup_talks(meetup, expand) %}
    {% set lightning_talks = meetup.children.filter(F.talk_type == "lightning").all() %}
    {% set main_talks = meetup.children.filter(F.talk_type == "main").all() %}

    {% if main_talks %}
        <h3>Доклады</h3>
        {% for talk in main_talks %}
            <div class="columns">
                {{ meetup_talk(talk, expand) }}
            </div>
        {% endfor %}
    {% endif %}

    {% if lightning_talks %}
        <h3>Lightning Talks</h3>
        {% for talk in lightning_talks %}
            <div class="columns">
                {{ meetup_talk(talk, expand) }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}


{% macro meetup_talk(talk, expand) %}
<div class="column is-one-quarter">
    {{ talk.date|datetimeformat("HH:mm") }}
</div>

<div class="column">
    {% if expand %}
        <h4><a href="{{ talk|url }}">{{ talk.title }}</a></h4>
    {% else%}
        <h4>{{ talk.title }}</h4>
    {% endif%}
    <h5>
        {{ talk.speaker }}
        {% if talk.company %}
            ({{ talk.company }})
        {% endif %}
    </h5>


    {% if expand and talk.slides and talk.slides.url %}
        {{ slides_widget(talk) }}
    {% endif%}

    {{ talk.description }}

    {% if expand and talk.video %}
        {{ talk.video.url|oembed(urlize_all=False, maxwidth=640) }}
    {% endif %}
</div>
{% endmacro %}


{% macro registration_widget(meetup) %}
    {% if meetup.registration_url and meetup.registration_url.url and not meetup.finished %}
        <p class="meetup-registration-link">
            Форма регистрации:
            <a href="{{ meetup.registration_url.url }}">{{ meetup.registration_url.url }}</a>
        </p>
    {% endif %}
{% endmacro %}


{% macro slides_widget(talk, slides_class="is-small") %}
    {% if talk.slides and talk.slides.url %}
        <p class="{{ slides_class }}">Слайды: <a href="{{ talk.slides.url }}">{{ talk.slides.url }}</a></p>
    {% endif %}
{% endmacro %}


{% macro pagination_widget(pagination) %}
    {% if pagination.pages > 1 %}
        <section class="section">
            <div class="container has-text-centered pagination">
                <ul>
                    {{ render_pagination(pagination) }}
                </ul>
            </div>
        </section>
    {% endif %}
{% endmacro %}


{% macro render_pagination(pagination) %}
    {% if pagination.pages <= 5 %}
        {{ render_simple_pagination(pagination) }}
    {% else %}
        {{ render_complex_pagination(pagination) }}
    {% endif %}
{% endmacro %}


{% macro render_simple_pagination(pagination) %}
    {% for idx in range(1, 1 + pagination.pages) %}
        {{ render_pagination_element(idx, pagination) }}
    {% endfor %}
{% endmacro %}


{% macro render_complex_pagination(pagination) %}
    {# I know, it looks horrible. But it works so please do not try to OPTIMIZE OR YOU DIE #}

    {% if pagination.page - 2 > 1 %}
        {{ render_pagination_element(1, pagination) }}
        <li>...</li>
    {% elif pagination.page - 2 == 1 %}
        {{ render_pagination_element(1, pagination) }}
    {% endif %}

    {{ render_pagination_element(pagination.page - 1, pagination) }}
    {{ render_pagination_element(pagination.page, pagination) }}
    {{ render_pagination_element(pagination.page + 1, pagination) }}

    {% if pagination.page + 2 < pagination.pages %}
        <li>...</li>
    {% endif %}

    {% if pagination.page + 1 < pagination.pages %}
        {{ render_pagination_element(pagination.pages, pagination) }}
    {% endif %}
{% endmacro%}


{% macro render_pagination_element(page, pagination) %}
    {% if page > 0 and page <= pagination.pages %}
        {% if page == pagination.page %}
            <li class="current_page">{{ page }}</li>
        {% else %}
            <li><a href="{{ ('@' ~ page)|url }}">{{ page }}</a></li>
        {% endif %}
    {% endif %}
{% endmacro %}
