{% extends "layout.html" %}
{% import "macros/common.html" as macros_common %}
{% import "macros/meetup.html" as macros_meetup %}


{% block title %}
    #{{ this.number }} ← Митапы ← {{ super() }}
{% endblock %}

{% block content %}
    {% call macros_common.widget_hero_block(
            "meetups", "meetup", macros_meetup.number(this.number),
            macros_meetup.widget_map_subheader(this)) %}
        <li class="is-active"><a section="about">О митапе</a></li>
        <li><a section="talks">Доклады</a></li>
        <li><a section="place">Место проведения</a></li>
    {% endcall %}

    <section id="section-tabs-about" class="section section-item">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_registration(this) }}

                {% if this.description %}
                    {{ this.description }}
                {% else %}
                    <p>К сожалению, подробностей про митап пока что нет.</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="section-tabs-talks" class="section section-item">
        <div class="container">
            <div class="content">
                {{ macros_meetup.widget_talks(this, True) }}
            </div>
        </div>
    </section>

    <section id="section-tabs-place" class="section section-item">
        <div class="container">
            <div class="content">
              <p>Место проведения:
                  {% if this.place %}
                      {% if this.map_url %}
                          <a href="{{ this.map_url }}">{{ this.place }}</a>
                      {% else %}
                          {{ this.place }}
                      {% endif %}
                  {% else %}
                      пока что не определено.
                  {% endif %}
              </p>

              {% if this.map_url %}
                  {{ this.map_url.url|yandexmaps }}
              {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
