{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}
    Митапы ← {{ super() }}
{% endblock %}

{% block content %}
    {% call macros.hero_block("meetups", "meetup", "Митапы", "Хахатоны и бухкэмпы") %}
    {% endcall %}

    {% for post in this.pagination.items %}
        <section class="section">
            <div class="container">
                <div class="content">
                    <h1 class="title"><a href="{{ post|url }}">#{{ post.number }}</a></h1>
                    <h2 class="subtitle">{{ macros.meetup_subheader(post) }}</h2>

                    {{ macros.registration_widget(post) }}

                    {% if post.description %}
                        {{ post.description }}
                    {% endif %}

                    {{ macros.meetup_talks(post, False) }}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
